.title {
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
}

.causeTitle {
  padding-top: 1rem;
  font-weight: 500;
  width: 600px;
  font-size: 24px;
  line-height: 32px;
}

.location {
  font-weight: 500;
  font-size: 24px;
  color: #5a5a5a;
}

.titleContainer {
  width: 100%;
  align-items: flex-start !important;
  padding-bottom: 1rem;
}

.donateBtn {
  width: 100% !important;
  height: 50px !important;
  background: #dee830 !important;
  border-radius: 50px !important;
  color: #3d3d3d;

  font-weight: 500;
  font-size: 20px !important;
}

.shareBtn {
  width: 100% !important;
  height: 50px !important;
  background: white !important;
  border: 2px solid #dee830 !important;
  border-radius: 50px !important;
  color: #3d3d3d;

  font-weight: 500;
  font-size: 20px !important;
}

.donateImage {
  width: 600px;
  height: 250px;
  border-radius: 20px;
  object-fit: cover;
}

.descriptionContainer {
  width: 100%;
  padding: 2rem 1rem;
  justify-content: space-between;
  align-items: flex-start !important;
}

.tagContainer {
  width: 100%;
  padding-bottom: 2rem;
}

.profileContainer {
  width: 100%;
  padding: 0.5rem;
  justify-content: flex-start;
}

.causeTag {
  padding: 0.5rem 1.5rem;
  background: #ffffff;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
  text-align: center;
  color: #000000;
}

.clockIcon {
  width: 20px;
  height: 20px;
}

.donationIcon {
  width: 16px;
  height: 16px;
}

.profileImage {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.profileTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #1c1c1c;
}

.profileSubtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #939393;
}

.donateContainer {
  padding: 2rem;
  background: #ffffff;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  gap: 0.5rem;
  align-items: flex-start !important;
}

.donationText {
  font-weight: 500;
  font-size: 22px;
  color: #5a5a5a;
}

.goalText {
  font-weight: 500;
  font-size: 18px;
  color: #939393;
}

.progressBarContainer {
  position: relative;
  width: 100%;
  height: 15px;

  background: rgba(217, 217, 217, 0.59);
  border-radius: 5px;
}

.progressBar {
  position: absolute;
  width: 75%;
  height: 100%;

  border-radius: 10px;
  background: #e38627;
}

.donationTime {
  font-weight: 500;
  font-size: 16px;
  line-height: 31px;
  color: #939393;
}

.tabContainer {
  width: 800px;
  padding: 1rem;
}

.updateContainer {
  padding: 1rem 0;
}

.updateDate {
  background: #1c1c1c;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
}

.updateDateText {
  color: white;
  font-weight: 500;
  width: 30px;
  text-align: center;
}

.updateTextContainer {
  align-items: flex-start !important;
  gap: 0.5rem;
  padding-left: 1rem;
}

.updateTitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #1c1c1c;
}

.updateSubtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #5a5a5a;
}

.donationHeader {
  width: 350px;
  padding: 2rem;
  background: #1c1c1c;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.donationHeaderTitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.donationHeaderSubtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #939393;
}

.donorImage {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.inputContainer {
  align-items: flex-start !important;
  gap: 0.5rem;
  padding: 0.5rem 0;
  position: relative;
}

.inputUnit {
  position: absolute;
  top: 53%;
  right: 1.5rem;
  font-weight: 500;
  color: #5a5a5a;
}

.inputHeader {
  font-weight: 500;
  font-size: 20px;
  line-height: 31px;
  color: #5a5a5a;
}

.input {
  width: 550px !important;
  height: 75px !important;
  padding: 0.5rem;
  border-radius: 15px !important;
  border: 2px solid black !important;
  outline: none;
}

.input:focus {
  border: 2px solid #dee830 !important;
  outline: none !important;
  box-shadow: none !important;
}

.inputBox {
  width: 550px;
  height: 75px;
  padding: 1rem;
  border-radius: 15px;
  border: 2px solid black !important;
}

.klaytnLogo {
  width: 20px;
  height: 20px;
}

.checkboxContainer {
  padding: 2rem 0.5rem;
  width: 100%;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

.checkboxTextContainer {
  padding-left: 1rem;
  align-items: flex-start !important;
}

.checkboxTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #5a5a5a;
}

.checkboxSubtitle {
  width: 450px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #939393;
}

.container {
  width: 100%;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: flex-start !important;
}

.successContainer {
  gap: 2rem;
  padding-bottom: 3rem;
}

.successImage {
  width: 700px;
}

.successText {
  width: 600px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #5a5a5a;
}

.viewCauseBtn {
  width: 400px !important;
  padding: 2rem;
  background: #1c1c1c !important;
  border-radius: 50px !important;
  color: white;
  font-weight: 500;
  font-size: 20px !important;
}

.viewTxnBtn {
  width: 400px !important;
  padding: 2rem;
  background: white !important;
  border: 2px solid #1c1c1c;
  border-radius: 50px !important;
  color: black;
  font-weight: 500;
  font-size: 20px !important;
}

.buttonContainer {
  gap: 0.5rem;
}
